ENVIRONMENT=sandbox
ROLLBAR_ACCESS_TOKEN=
ERT_BASE_URL=https://api.stage.eventregistrationtool.com/eventhub-api/rest
ERT_API_KEY=
ERT_MINISTRY_ID=9f63db46-6ca9-43b0-868a-23326b3c4d91
ERT_ACTIVITY_ID=9c6eae3f-8928-4703-a2a4-e5bf995dfd19
SF_LOGIN_URL=https://test.salesforce.com
SF_CLIENT_ID=
SF_CLIENT_SECRET=
SSM_LAST_IMPORT_DATE_PARAM=/familylife/ert-sync/lastImportDate
REGISTRATION_PAGE_SIZE=100
SF_BATCH_SIZE=200
